@model Charts.Models.FilterModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Resistance1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resistance1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resistance2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resistance2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inductance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inductance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacitance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacitance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fmax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fmax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfRows)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfRows)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
